apiVersion: virtualization.deckhouse.io/v1alpha2
kind: VirtualMachine
metadata:
  name: frontend
  labels:
    vm: frontend
    app: frontend
  annotations:
    provisioning.virtualization.deckhouse.io/ansible_user: cloud
spec:
  runPolicy: AlwaysOn
  bootloader: EFI
  virtualMachineClassName: generic
  virtualMachineIPAddressName: frontend-ip
  cpu:
    cores: 1
    coreFraction: 10%
  memory:
    size: 512Mi
  disruptions:
    restartApprovalMode: Automatic
  provisioning:
    type: UserDataRef
    userDataRef:
      kind: Secret
      name: cloud-init-frontend
  blockDeviceRefs:
    - kind: VirtualDisk
      name: root-disk-frontend
  affinity:
    virtualMachineAndPodAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchLabels:
              app: frontend
          topologyKey: kubernetes.io/hostname
