---
apiVersion: deckhouse.io/v1alpha2
kind: Project
metadata:
  name: demo-app
spec:
  description: demo-app
  projectTemplateName: default
  parameters:
    resourceQuota:
      requests:
        cpu: 20
        memory: 20Gi
      limits:
        cpu: 20
        memory: 20Gi
    administrators:
      - subject: Group
        name: demo-app-admins
---
apiVersion: deckhouse.io/v1alpha1
kind: Group
metadata:
  name: demo-app-admins
spec:
  members:
    - kind: User
      name: demo-app-admin
  name: demo-app-admins
---
apiVersion: deckhouse.io/v1
kind: User
metadata:
  name: demo-app-admin
spec:
  email: demo-app-admin@flant.com
  password: JDJ5JDEwJGR1ellXYldWWlQxUGk0N1RpYlQ0WHVPcUpQb2ZMckZua2JCdUdmemRhbUZ2Yk9MZ2R1SXJTCgo=
---
apiVersion: deckhouse.io/v1
kind: ClusterAuthorizationRule
metadata:
  name: demo-app-admin
spec:
  accessLevel: Admin
  allowScale: true
  allowAccessToSystemNamespaces: false
  portForwarding: false
  subjects:
    - kind: Group
      name: demo-app-admins
  namespaceSelector:
    labelSelector:
      matchLabels:
        kubernetes.io/metadata.name: demo-app
