apiVersion: virtualization.deckhouse.io/v1alpha2
kind: VirtualDisk
metadata:
  name: root-disk-backend
  labels:
    app: backend
spec:
  persistentVolumeClaim:
    size: 4G
  dataSource:
    type: ObjectRef
    objectRef:
      kind: ClusterVirtualImage
      name: demo-alpine-3-23
