#cloud-config
package_update: true
package_upgrade: true
packages:
  - python3
  - py3-pip
  - curl
users:
  - name: cloud
    passwd: $6$rounds=4096$vln/.aPHBOI7BMYR$bBMkqQvuGs5Gyd/1H5DP4m9HjQSy.kgrxpaGEHwkX7KEFV8BS.HZWPitAtZ2Vd8ZqIZRqmlykRCagTgPejt1i.
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    chpasswd: {expire: False}
    lock_passwd: false
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAAAgQDJc5RyfmaTMb6K7EJv649DqfawyU5zuNRKH5RV+JaXrPxnhVMx9Ank6QT96TKgeVyujABNRkatJM5ku+Mtu6bmFXql5MYpPj0pyZusyD3fxYNy54TgxdV1Rtt34HZdZ4Fmc6YRsGOYdKgLWwhX6C+gTVCH5Pkphtqu5PAaMMZoiw== demo
runcmd:
  - python3 -m venv /opt/venv
  - /opt/venv/bin/pip install -r https://raw.githubusercontent.com/fl64/dvp-demo-app/refs/heads/master/apps/backend/requirements.txt
  - mkdir /app
  - curl https://raw.githubusercontent.com/fl64/dvp-demo-app/master/apps/backend/app.py > /app/app.py
  - rc-update add flask-app default
  - rc-service flask-app start
  - curl -L https://github.com/pouriyajamshidi/tcping/releases/download/v2.7.1/tcping-linux-amd64-static.tar.gz  | tar -xz -C /usr/local/bin/ tcping
write_files:
  - path: /etc/init.d/flask-app
    permissions: "0755"
    content: |
      #!/sbin/openrc-run

      description="Flask App Service with Gunicorn"
      command="/opt/venv/bin/gunicorn"
      command_args="--workers 4 --bind 0.0.0.0:5000 app:app --daemon"
      pidfile="/var/run/flask-app.pid"
      directory="/app"
      depend() {
          need net
      }

      start_pre() {
          rm -f /var/run/flask-app.pid
      }
  - path: /app/.env
    permissions: "0644"
    content: |
      export DB_HOST=db.demo-db.svc.cluster.local
      export DB_USER=myuser
      export DB_PASSWORD=mypassword
      export DB_NAME=mydb
final_message: "\U0001F525\U0001F525\U0001F525 The system is finally up, after $UPTIME seconds \U0001F525\U0001F525\U0001F525"
