#cloud-config
package_update: true
package_upgrade: true
packages:
  - postgresql
users:
  - name: cloud
    passwd: $6$rounds=4096$vln/.aPHBOI7BMYR$bBMkqQvuGs5Gyd/1H5DP4m9HjQSy.kgrxpaGEHwkX7KEFV8BS.HZWPitAtZ2Vd8ZqIZRqmlykRCagTgPejt1i.
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    chpasswd: {expire: False}
    lock_passwd: false
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAAAgQDJc5RyfmaTMb6K7EJv649DqfawyU5zuNRKH5RV+JaXrPxnhVMx9Ank6QT96TKgeVyujABNRkatJM5ku+Mtu6bmFXql5MYpPj0pyZusyD3fxYNy54TgxdV1Rtt34HZdZ4Fmc6YRsGOYdKgLWwhX6C+gTVCH5Pkphtqu5PAaMMZoiw== demo
runcmd:
  - rc-service postgresql setup
  - rc-update add postgresql default
  - rc-service postgresql start
  - echo "listen_addresses = '*'" >> /etc/postgresql/postgresql.conf
  - echo "host all all 0.0.0.0/0 md5" >> /etc/postgresql/pg_hba.conf
  - su - postgres -c "psql -f /tmp/init-db.sql"
  - rc-service postgresql restart
write_files:
  - path: /tmp/init-db.sql
    permissions: "0644"
    content: |
      CREATE USER myuser WITH PASSWORD 'mypassword';
      CREATE DATABASE mydb OWNER myuser;

      GRANT ALL PRIVILEGES ON DATABASE mydb TO myuser;

      \c mydb

      CREATE TABLE test_table (id SERIAL PRIMARY KEY, name VARCHAR(100));
      INSERT INTO test_table (name) VALUES
      ('Deckhouse Kubernetes Platform'),
      ('Deckhouse Virtualization Platform'),
      ('Deckhouse Stronghold'),
      ('Deckhouse Observability Platform'),
      ('Deckhouse Commander'),
      ('Deckhouse Delivery Kit');

      GRANT ALL PRIVILEGES ON TABLE test_table TO myuser;
      GRANT ALL PRIVILEGES ON SEQUENCE test_table_id_seq TO myuser;

      CREATE USER healthchecker WITH PASSWORD 'healthchecker';

      CREATE OR REPLACE FUNCTION ping_database() RETURNS TABLE(result INT) AS $$
      BEGIN
          RETURN QUERY SELECT 1;
      END;
      $$ LANGUAGE plpgsql SECURITY DEFINER;

      GRANT EXECUTE ON FUNCTION ping_database() TO healthchecker;

      REVOKE ALL PRIVILEGES ON DATABASE mydb FROM healthchecker;
      REVOKE ALL PRIVILEGES ON ALL TABLES IN SCHEMA public FROM healthchecker;
  - path: /etc/services.d/postgresql/run
    permissions: "0755"
    content: |
      #!/bin/sh
      exec /usr/sbin/postgres -D /var/lib/postgresql/data
final_message: "\U0001F525\U0001F525\U0001F525 The system is finally up, after $UPTIME seconds \U0001F525\U0001F525\U0001F525"
