---
apiVersion: deckhouse.io/v1alpha1
kind: Group
metadata:
  name: demo-users
spec:
  members:
    - kind: User
      name: demo-user
  name: demo-users
---
apiVersion: deckhouse.io/v1
kind: User
metadata:
  name: demo-user
spec:
  email: demo-user@flant.com
  password: JDJ5JDE0JERwZEhCQVVOWm1Ya3ZITEt0bHhDdmU4Z1NDRFpZeVBsaXlLdU9nOGJuUDFTU0ptemhiYklLCgo=
---
apiVersion: deckhouse.io/v1alpha1
kind: AuthorizationRule
metadata:
  name: demo-user
spec:
  accessLevel: User
  allowScale: false
  portForwarding: false
  subjects:
    - kind: Group
      name: demo-users
