---
apiVersion: deckhouse.io/v1alpha1
kind: Group
metadata:
  name: demo-users
spec:
  members:
    - kind: User
      name: demo-user
  name: demo-users
---
apiVersion: deckhouse.io/v1
kind: User
metadata:
  name: demo-user
spec:
  email: demo-user@flant.com
  password: JDJ5JDEwJGR1ellXYldWWlQxUGk0N1RpYlQ0WHVPcUpQb2ZMckZua2JCdUdmemRhbUZ2Yk9MZ2R1SXJTCgo=
---
apiVersion: deckhouse.io/v1alpha1
kind: AuthorizationRule
metadata:
  name: demo-user
spec:
  accessLevel: User
  allowScale: false
  portForwarding: false
  subjects:
    - kind: Group
      name: demo-users
