#cloud-config
package_update: true
package_upgrade: true
packages:
  - nginx
users:
  - name: cloud
    passwd: $6$rounds=4096$vln/.aPHBOI7BMYR$bBMkqQvuGs5Gyd/1H5DP4m9HjQSy.kgrxpaGEHwkX7KEFV8BS.HZWPitAtZ2Vd8ZqIZRqmlykRCagTgPejt1i.
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    chpasswd: {expire: False}
    lock_passwd: false
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAAAgQDJc5RyfmaTMb6K7EJv649DqfawyU5zuNRKH5RV+JaXrPxnhVMx9Ank6QT96TKgeVyujABNRkatJM5ku+Mtu6bmFXql5MYpPj0pyZusyD3fxYNy54TgxdV1Rtt34HZdZ4Fmc6YRsGOYdKgLWwhX6C+gTVCH5Pkphtqu5PAaMMZoiw== demo
write_files:
  - path: /etc/nginx/http.d/default.conf
    permissions: "0644"
    content: |
      server {
          listen 80;
          server_name _;

          root /var/www/frontend;
          index index.html;

          location / {
              try_files $uri $uri/ /index.html;
          }

          location ~* \.(css|js|jpg|jpeg|png|gif|ico|svg)$ {
              expires 1d;
              add_header Cache-Control "public";
          }
      }
runcmd:
  - mkdir /var/www/frontend/
  - curl -sq https://raw.githubusercontent.com/fl64/dvp-demo-app/master/apps/frontend/index.html > /var/www/frontend/index.html
  - sed -i "s|%%HEADER_TITLE%%|VM Frontend|g" /var/www/frontend/index.html
  - sed -i "s|%%HEADER_COLOR%%|blue|g" /var/www/frontend/index.html
  - rc-update add nginx default
  - rc-service nginx start
final_message: "\U0001F525\U0001F525\U0001F525 The system is finally up, after $UPTIME seconds \U0001F525\U0001F525\U0001F525"
