---
- name: Update system packages on all VMs
  hosts: all
  become: yes
  gather_facts: yes

  tasks:
    - name: Upgrade all packages
      apk:
        upgrade: yes
        update_cache: yes
      when: ansible_os_family == "Alpine"
      register: upgrade_result

