apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: demo-db
resources:
  # - ./ns.yaml
  - ./vm.yaml
  - ./vmip.yaml
  - ./vmd-root.yaml
  - ./svc.yaml
  # - ./svchp.yaml
  - ./np-db.yaml
  - ./np-ssh.yaml
generatorOptions:
  disableNameSuffixHash: true
secretGenerator:
  - name: cloud-init
    files:
      - userdata=cfg/cloudinit.yaml
    type: provisioning.virtualization.deckhouse.io/cloud-init
  - name: db-secret
    literals:
      - user=healthchecker
      - password=healthchecker
      - tlsMode=Disabled
    type: network.deckhouse.io/postgresql-credentials
