apiVersion: virtualization.deckhouse.io/v1alpha2
kind: VirtualMachine
metadata:
  name: db
  labels:
    vm: db
    app: db
spec:
  runPolicy: AlwaysOn
  bootloader: EFI
  virtualMachineClassName: generic
  virtualMachineIPAddressName: db-ip
  cpu:
    cores: 1
    coreFraction: 10%
  memory:
    size: 2Gi
  provisioning:
    type: UserDataRef
    userDataRef:
      kind: Secret
      name: cloud-init
  blockDeviceRefs:
    - kind: VirtualDisk
      name: root-disk-db
  disruptions:
    restartApprovalMode: Automatic
